ASSIGNMENT NO 1

Data Wrangling-I

Perform the following operations using Python on any open source dataset (e.g., data.csv)
1. Import all the required Python Libraries.
2. Locate open source data from the web (e.g., https://www.kaggle.com). Provide a clear
description of the data and its source (i.e., URL of the web site).
3. Load the Dataset into pandas dataframe.
4. Data Preprocessing: check for missing values in the data using pandas isnull(), describe()
function to get some initial statistics. Provide variable descriptions. Types of variables etc.
Check the dimensions of the data frame.
5. Data Formatting and Data Normalization: Summarize the types of variables by checking the
data types (i.e., character, numeric, integer, factor, and logical) of the variables in the data set.
If variables are not in the correct data type, apply proper type conversions.
6. Turn categorical variables into quantitative variables in Python.
In addition to the codes and outputs, explain every operation that you do in the above steps and explain
everything that you do to import/read/scrape the data set.

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
import statistics

In [13]:
df=pd.read_csv("Iris.csv")

In [14]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [15]:
df.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [18]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [19]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [26]:
# encoder = preprocessing.LabelEncoder()
# df["Species"]=encoder.fit_transform(df["Species"])
# df


one_hot_encoder = preprocessing.OneHotEncoder()
ohe = one_hot_encoder.fit_transform(df['Species'])
value = pd.DataFrame( ohe, columns= one_hot_encoder.get_feature_names_out() )
print(value)

ValueError: Expected a 2-dimensional container but got <class 'pandas.core.series.Series'> instead. Pass a DataFrame containing a single row (i.e. single sample) or a single column (i.e. single feature) instead.

In [22]:
print(df.dtypes)

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
#df['petal.width']=df['petal.width'].fillna(df['petal.width'].median)
#df
df['petal.width']=df['petal.width'].astype("float64")

NameError: name 'df' is not defined

In [ ]:
df['petal.width']

0      0.2
1      0.2
2      0.2
3      NaN
4      0.2
      ...
145    2.3
146    NaN
147    2.0
148    2.3
149    1.8
Name: petal.width, Length: 150, dtype: float64

In [ ]:
df.notnull().sum()

sepal.length    146
sepal.width     149
petal.length    148
petal.width     144
variety         150
dtype: int64

In [ ]:
df['petal.width']=df['petal.width'].fillna(df['petal.width'].mean(), inplace=True)

In [ ]:
df

     sepal.length  sepal.width petal.length  petal.width  variety
0             5.1          3.5          1.4          0.2        0
1             4.9          3.0          1.4          0.2        0
2             4.7          3.2          1.3          0.2        0
3             4.6          3.1          1.5          NaN        0
4             5.0          3.6          1.4          0.2        0
..            ...          ...          ...          ...      ...
145           6.7          3.0          5.2          2.3        2
146           6.3          2.5            5          NaN        2
147           6.5          3.0          5.2          2.0        2
148           6.2          3.4          5.4          2.3        2
149           5.9          3.0          5.1          1.8        2

[150 rows x 5 columns]

In [ ]:
df['petal.width']=df['petal.width'].fillna(df['petal.width'].mean())

In [ ]:
df

     sepal.length  sepal.width petal.length  petal.width  variety
0             5.1          3.5          1.4     0.200000        0
1             4.9          3.0          1.4     0.200000        0
2             4.7          3.2          1.3     0.200000        0
3             4.6          3.1          1.5     1.217361        0
4             5.0          3.6          1.4     0.200000        0
..            ...          ...          ...          ...      ...
145           6.7          3.0          5.2     2.300000        2
146           6.3          2.5            5     1.217361        2
147           6.5          3.0          5.2     2.000000        2
148           6.2          3.4          5.4     2.300000        2
149           5.9          3.0          5.1     1.800000        2

[150 rows x 5 columns]

In [ ]:
df.isnull().sum()

sepal.length    4
sepal.width     1
petal.length    2
petal.width     0
variety         0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  146 non-null    float64
 1   sepal.width   149 non-null    float64
 2   petal.length  148 non-null    object
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    int32
dtypes: float64(3), int32(1), object(1)
memory usage: 5.4+ KB

In [ ]:
df.dropna(axis=0)

     sepal.length  sepal.width petal.length  petal.width  variety
0             5.1          3.5          1.4     0.200000        0
1             4.9          3.0          1.4     0.200000        0
2             4.7          3.2          1.3     0.200000        0
3             4.6          3.1          1.5     1.217361        0
4             5.0          3.6          1.4     0.200000        0
..            ...          ...          ...          ...      ...
145           6.7          3.0          5.2     2.300000        2
146           6.3          2.5            5     1.217361        2
147           6.5          3.0          5.2     2.000000        2
148           6.2          3.4          5.4     2.300000        2
149           5.9          3.0          5.1     1.800000        2

[143 rows x 5 columns]

In [ ]:
df.isnull().sum()

sepal.length    4
sepal.width     1
petal.length    2
petal.width     0
variety         0
dtype: int64

In [ ]:
df['sepal.length']=df['sepal.length'].fillna("Missing")

In [ ]:
df

    sepal.length  sepal.width petal.length  petal.width  variety
0            5.1          3.5          1.4     0.200000        0
1            4.9          3.0          1.4     0.200000        0
2            4.7          3.2          1.3     0.200000        0
3            4.6          3.1          1.5     1.217361        0
4            5.0          3.6          1.4     0.200000        0
..           ...          ...          ...          ...      ...
145          6.7          3.0          5.2     2.300000        2
146          6.3          2.5            5     1.217361        2
147          6.5          3.0          5.2     2.000000        2
148          6.2          3.4          5.4     2.300000        2
149          5.9          3.0          5.1     1.800000        2

[150 rows x 5 columns]

In [ ]:
df.isnull().sum()

sepal.length    0
sepal.width     1
petal.length    2
petal.width     0
variety         0
dtype: int64

In [ ]:
df.boxplot()